:root {
    --border-color: #ccc;
    --cell-font-size: 24px;
    --other-font-size: 22px;
}

@media only screen and (max-width: 600px) {
  :root {
    --cell-font-size: 4vmin;
    --other-font-size: 3vmin;
  }
  h1 {
    font-size: 8vmin !important;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0.2em !important;
  }
}

.board {
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.row {
    display: flex;
    flex-direction: row;
}

.block {
    border: 1px solid var(--border-color);
    margin: 4px;
}

.cell {
    --cell-size: 2em;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--cell-font-size);
    font-weight: 500;
    cursor: default;
}

.highlighted {
    background-color: #ffeecc;
    color: black;
}

.secondary-highlight {
    background-color: #669;
}

.tertiary-highlight {
    background-color: #444;
}

.single-value {
    background-color: #665544;
    color: #999;
    font-weight: 100;
}

.possible-values {
    margin-top: 0.3em;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    font-size: var(--other-font-size);
}

.clear-button {
    margin: 0.3em;
    gap: 0.3em;
    font-size: var(--other-font-size);
}

.conflicted {
    background-color: #e22;
    color: black;
}

.has-value {
    background-color: #335;
}

.cell-input {
    position: absolute;
    opacity: 0;
}